<form class="form-horizontal">
    <div class="control-group">
        {% for plugin_identifer, plugin_settings in plugin_automation_scripts_settings.items() %}
            {% if plugin_settings|length > 0 %}
                <h2> {{ plugin_automation_scripts_titles[plugin_identifer] }} </h2>
                {% for setting in plugin_settings %}
                    <label class="control-label">{{ setting }}</label>
                    <div class="controls">
                        <input step="any", class="input-block-level" data-bind="value: settings.plugins.automation_scripts.{{ plugin_identifer }}.{{ setting }}">
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</form>
